<div class="dropdown">
    <h3 class="blue-font fw-bold pt-2">MORE DETAILS</h3>
    <div class="d-flex flex-wrap justify-content-between me-5 pb-4">
        <div class="d-flex">
            <div>
                <h3 class="gray-font fs-6 fw-bold m-0">PROVIDER NAME</h3>
                <div class="d-flex">
                    <img class="icon" src={{data.provider_icon}}/>
                    <div class="font-12 gray-font fw-normal">{{data.provider_name}}</div>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div>
                <h3 class="gray-font fs-6 fw-bold m-0">VOYAGE NUMBER</h3>
                <div class="font-12 gray-font fw-normal">{{data.voyage_number}}</div>
            </div>
        </div>
        <div class="d-flex">
            <div>
                <h3 class="gray-font fs-6 fw-bold m-0">VESSEL NAME</h3>
                <div class="font-12 gray-font fw-normal">{{data.vessel_name}}</div>
            </div>
        </div>
        <div class="d-flex">
            <div>
                <h3 class="gray-font fs-6 fw-bold m-0">VESSEL NUMBER</h3>
                <div class="font-12 gray-font fw-normal">{{data.vessel_number}}</div>
            </div>
        </div>
    </div>
    <div>
        <h3 class="gray-font fs-6 fw-bold m-0">COMMODITY DESCRIPTION NUMBER</h3>
        <div class="font-12 gray-font fw-normal pb-4">{{data.commodity_description}}</div>
    </div>
</div>