<div class="dropdown">
    MORE DETAILS

    <div class="flex-grid">
        <div class="item">
            <div class="container">
                <div class="title">PROVIDER NAME</div>
                <div class="flex">
                    <img class="icon" src={{data.provider_icon}}/>
                    <div class="subtitle padding">{{data.provider_name}}</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="title">VOYAGE NUMBER</div>
                <div class="subtitle padding">{{data.voyage_number}}</div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="title">VESSEL NAME</div>
                <div class="subtitle padding">{{data.vessel_name}}</div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="title">VESSEL NUMBER</div>
                <div class="subtitle padding">{{data.vessel_number}}</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="title">COMMODITY DESCRIPTION</div>
        <div class="subtitle padding">{{data.commodity_description}}</div>
    </div>

</div>