* {
    font-family: pragmatica, proxima-nova, sans-serif;
}
/* base element */

.booking {
    background-color: #f8f9fa;
    width: auto;
    overflow-x: scroll;
}
/* svgs and png stylings */
    .flag {
        margin-top: 5px;
        width: 30px;
        height: 15px;
    }

    .icon {
        height: 2.25rem;
        width: 3rem;
    }

    .arrow {
        height: 1.5rem;
        width: 1.5rem;
        filter: invert(45%) sepia(87%) saturate(1585%) hue-rotate(164deg) brightness(94%) contrast(101%);
    }

.big-table {
    border-collapse: collapse;
}
.big-table tr { 
    border-bottom: 0.063rem solid #738593;
}

.big-table thead tr {
    position: -webkit-sticky;
    position: sticky;
    top: 0rem;
    z-index: 1;
    height: 1.875rem;
    background-image: linear-gradient(#fff,#ececec);
    color: #738593;
    font-size: 0.875rem;
    text-align: left;
    font-weight: light;
}

.big-table tbody tr {
    height: 6.25rem;
}

/* each column styling */
.index {
    font-size: 1rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: 2.563rem;
}

.booking-id {
    color: #00a2df;
    font-weight: bold;
    font-size: 1rem;
}
.booking-date {
    color: #738593;
    font-size: 0.625rem;
    font-weight: bold;
}

.text {
    font-size: 0.875rem;
    color:#738593;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.shippingline {
    padding-top: 0.625rem;
    margin-left: 0.313rem;
    font-size: 0.75rem;
    color:#738593;
}

.pickup {
    width: 80%;
    padding-left: 0.313rem;
}

    .title {
        color: #2b2b2b;
    }
    .subtitle {
        color: #738593;
        font-size: 0.75rem;
    }

.dest {
    padding-left: 0.313rem;
}

.margin {
    margin-top: 0.313rem;
}

.padding {
    padding-left: 0.75rem;
}

.dropped {
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(50%) sepia(3%) saturate(2577%) hue-rotate(164deg) brightness(102%) contrast(80%);
    transition: all 0.5s;
    transform: rotate(0deg);
}
.active {
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(50%) sepia(3%) saturate(2577%) hue-rotate(164deg) brightness(102%) contrast(80%);
    transition: all 0.5s;
    transform: rotate(180deg);
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

.dropdown {
    height: 0rem;
    animation: fadeOut linear 0.5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
.transition {
    height: auto;
    animation: fadeIn linear 0.5s;
}


/* responsive laptop */
@media screen and (max-width: 1200px) and (min-width: 769px) {
    .booking { 
        width: 100%;
    }

    .subtitle {
        font-size: 0.625rem;
    }
}

/* reponsive tablet */
@media screen and (max-width: 768px) {
    .booking { 
        width: 100%;
    }

    .subtitle {
        font-size: 0.625rem;
    }

    thead tr { 
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 450px) {

    th {
        font-size: 0.625rem;
    }
    .booking-id {
        font-size: 0.5rem;
        word-wrap: break-word;
    }
    .padding {
        padding-left: 0rem;
    }
    .dest {
        padding-left: 0rem;
    }
    .pickup {
        padding-left: 0rem;
    }
    .text {
        font-size: 0.5rem;
    }
    .booking-date {
        font-size: 0.5rem;
    }
    .shippingline {
        font-size: 0.5rem;
    }
    .title {
        font-size: 0.625rem;
    }
    .subtitle {
        font-size: 0.5rem;
    }
    .flag {
        height: 10px;
        width: 20px;
    }
    .icon {
        height: 25px;
        width: 30px;
    }
    .arrow {
        width: 0.75rem;
        height: 0.75rem;
    }
    .dropped {
        height: 20px;
        width: 20px;
    }
    .active {
        height: 20px;
        width: 20px;
    }
    .index {
        font-size: 0.5rem;
    }
}